<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages theme="Default" styleSheetTheme="Default" enableSessionState="true" />
    <sessionState timeout="30" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30" />
    </authentication>
  </system.web>
  
  <connectionStrings>
    <add name="EmployeeDB" connectionString="Data Source=|DataDirectory|\employees.json" providerName="JsonProvider" />
  </connectionStrings>
  
  <appSettings>
    <add key="DataPath" value="~/App_Data/" />
  </appSettings>
</configuration>